#wrapper > .row{
    background: #f0f2f5;
    font-family:'Raleway';
    font-size: 18px;
    font-weight: 100;
    overflow:auto; min-height:100%
  }
#wrapper{height:100%}
  .LoginDiv {
    transition: all 0.56s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 420px;
    padding: 0px;
    margin: 10% auto;
  }

  a, span {
    color: #00aeff;
    text-decoration: none;
    font-size: 16px;
  }

   a:hover {
    color: #008bcc;
  }
  .margin-bottom-20{
    margin-bottom: 20px;
  }
  .LoginLogo{
    padding: 15px 10px;
    text-align: center;
  }
  .SignTxt{
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin: 0px 0px;
    color: #fff;
  }
  .innerLoginDiv{
    padding: 30px;
  }
  .width-100-per{
    width: 100%;
    padding: 5px;
    float: left;
  }
.pull-right{
  float: right;
}
.pull-left{
  float: left;
}
.LoginBtn{
  linear, left top, left bottom, from(#F99F00), to(#DB3069)) !important;
background-image: -webkit-linear-gradient(top, #F99F00 0%, #DB3069 100%) !important;
background-image: -o-linear-gradient(top, #F99F00 0%, #DB3069 100%) !important;
background-image: linear-gradient(-180deg, #F99F00 0%, #DB3069 100%) !important;
  width: 100%;
  border: 0px;
  padding: 10px 10px;
  border-radius: 3px;
  font-size: 20px;
  color:#fff;
  cursor: pointer;
}
.LoginBtn:hover{
background-image: -webkit-gradient(linear, left top, left bottom, from(#F99F00), to(#ca225a)) !important;
background-image: -webkit-linear-gradient(top, #F99F00 0%, #ca225a 100%) !important;
background-image: -o-linear-gradient(top, #F99F00 0%, #ca225a 100%) !important;
background-image: linear-gradient(-180deg, #F99F00 0%, #ca225a 100%) !important;
}
}
.clear{
  clear: both;
}
  .form-card:hover,
  .form-card:focus {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .form-element {
    position: relative;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
    padding: 2px;
  }
  .form-element-bar {
    position: relative;
    height: 1px;
    background: #0060a4;
    display: block;
  }
  .form-element-label {
    position: absolute;
    top: 1.50rem;
    line-height: 1.5rem;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 1;
    font-size: 16px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    color: #222;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    transition: color 0.28s linear, opacity 0.28s linear, -webkit-transform 0.28s ease;
    transition: transform 0.28s ease, color 0.28s linear, opacity 0.28s linear;
    transition: transform 0.28s ease, color 0.28s linear, opacity 0.28s linear, -webkit-transform 0.28s ease;
    will-change: transform, color, opacity;
  }
  .form-element-field {
    outline: none;
    display: block;
    background: none;
    font-size: 16px;
    border: 0 solid transparent;
    line-height: 1.7;
    width: 100%;
    color: #222;
    box-shadow: none;
    opacity: 0.001;
    transition: opacity 0.28s ease;
    transition: all 0.56s cubic-bezier(0.25, 0.8, 0.25, 1);
    will-change: opacity;
  }

  .form-element-field.-hasvalue,
  .form-element-field:focus {
    opacity: 1;
    padding-left: 34px;
  }

  .form-element-field.-hasvalue~.form-element-label,
  .form-element-field:focus~.form-element-label {
    -webkit-transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
    transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
    cursor: pointer;
    pointer-events: auto;
  }

  input.form-element-field:not(:placeholder-shown),
  textarea.form-element-field:not(:placeholder-shown) {
    opacity: 1;
  }

  input.form-element-field:not(:placeholder-shown)~.form-element-label,
  textarea.form-element-field:not(:placeholder-shown)~.form-element-label {
    -webkit-transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
    transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
    cursor: pointer;
    pointer-events: none;
  }

  textarea.form-element-field {
    height: auto;
    min-height: 3rem;
  }

  .form-select select:focus~.form-element-bar::before {
    -webkit-transform: translateY(-50%) rotateX(180deg) rotate(45deg);
    transform: translateY(-50%) rotateX(180deg) rotate(45deg);
  }

/* Checkbox Start */

.form-checkbox-label,
.form-radio-label {
  position: relative;
  cursor: pointer;
  padding-left: 2.5rem;
  text-align: left;
  color: #fff; font-weight:normal !important
}

.form-checkbox-label input,
.form-radio-label input {
  width: auto;
  opacity: 0.0001;
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
  margin: 0;
  padding: 0;
}

.form-checkbox-button {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  color: #999;
  left: 0;
  top: 0.25rem;
  width: 2rem;
  height: 2rem;
  z-index: 0;
  border: 0.225rem solid #337ab7;
  border-radius: 0.0625rem;
  transition: color 0.28s ease;
  will-change: color;
}

.form-checkbox-button::before,
.form-checkbox-button::after {
  position: absolute;
  height: 0;
  width: 0.2rem;
  background-color: #fff;
  display: block;
  transform-origin: left top;
  border-radius: 0.25rem;
  content: "";
  transition: opacity 0.28s ease, height 0s linear 0.28s;
  opacity: 0;
  will-change: opacity, height;
}

.form-checkbox-button::before {
  top: 0.9rem;
  left: 0.68rem;
  transform: rotate(-135deg);
}

.form-checkbox-button::after {
  top: 0.3rem;
  left: 0;
  transform: rotate(-45deg);
}

.form-checkbox-field:checked ~ .form-checkbox-button {
  color: #337ab7;
}

.form-checkbox-field:checked ~ .form-checkbox-button::after,
.form-checkbox-field:checked ~ .form-checkbox-button::before {
  opacity: 1;
  transition: height 0.28s ease;
}

.form-checkbox-field:checked ~ .form-checkbox-button::after {
  height: 0.8rem;
}

.form-checkbox-field:checked ~ .form-checkbox-button::before {
  height: 1.8rem;
  transition-delay: 0.28s;
}

.form-has-error .form-checkbox-button,
.form-has-error .form-radio-button {
  color: #d9534f;
}
/* Checkbox End */

@media screen and (max-width: 1028px) {
  .LoginDiv {
    margin: 10% 28%;
  }
}
.form-control:focus{ box-shadow:none !important}
.alert-danger{ float:left; width:100%}
.oe_login_form{ margin: 30px auto 0 !important}
/*FOnt family*/

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwN4rWqhPAMif.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwN4rWqZPAA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwJYtWqhPAMif.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwJYtWqZPAA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*FOnt family*/
